spring:
  profiles:
    active: dev
    group:
      dev: dev, common, secret
      keun: keun-server, common, secret

---
spring:
  config:
    activate:
      on-profile: dev

---
spring:
  config:
    activate:
      on-profile: keun-server

domain:
  name:
    http: http://localhost:80
    https: https://localhost:443

---

spring:
  config:
    activate:
      on-profile: common

  application:
    name: team-ljco-fridgemate

  # 파일 업로드 설정
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 100MB
      file-size-threshold: 2MB

file:
  upload-dir: ./uploads/images
  base-url: http://localhost:8080

server:
  port: 8080
  tomcat:
    max-swallow-size: -1
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

springdoc:
  swagger-ui:
    path: /doc
    operations-sorter: alpha
    tags-sorter: alpha
  api-docs:
    path: /api-docs

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  type-aliases-package: com.korit.team_ljco.entity

logging:
  level:
    com.korit.team_ljco: DEBUG
    org.springframework.security: DEBUG
    org.mybatis: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"