name: GCP-VM-CICD

on:
  push:
    branches: [deploy-hyeonjung,deploy-hyeokjun,deploy-minseok,deploy-Keun]
  pull_request: 
    branches: [deploy-hyeonjung,deploy-hyeokjun,deploy-minseok,deploy-Keun]

jobs:
  build-deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: "환경변수 세팅"
        run: |
          if [ "${{ github.ref }}" == "refs/heads/deploy-hyeonjung" ]; then
            echo "GCP_VM_HOST=${{ secrets.GCP_VM_HOST_HYEONJUNG }}" >> $GITHUB_ENV
            echo "GCP_VM_USERNAME=${{ secrets.GCP_VM_USERNAME_HYEONJUNG }}" >> $GITHUB_ENV
            echo "GCP_VM_SSHKEY=${{ secrets.GCP_VM_SSHKEY_HYEONJUNG }}" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME_HYEONJUNG }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD_HYEONJUNG }}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{ secrets.APPLICATION_SECRET_HYEONJUNG }}" >> $GITHUB_ENV
            echo "REACT_ENV=${{ secrets.REACT_ENV_HYEONJUNG }}" >> $GITHUB_ENV
            echo "test"
          elif [ "${{ github.ref }}" == "refs/heads/deploy-hyeokjun" ]; then
            echo "GCP_VM_HOST=${{ secrets.GCP_VM_HOST_HYEOKJUN }}" >> $GITHUB_ENV
            echo "GCP_VM_USERNAME=${{ secrets.GCP_VM_USERNAME_HYEOKJUN }}" >> $GITHUB_ENV
            echo "GCP_VM_SSHKEY=${{ secrets.GCP_VM_SSHKEY_HYEOKJUN }}" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME_HYEOKJUN }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD_HYEOKJUN }}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{ secrets.APPLICATION_SECRET_HYEOKJUN }}" >> $GITHUB_ENV
            echo "REACT_ENV=${{ secrets.REACT_ENV_HYEOKJUN }}" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == "refs/heads/deploy-minseok" ]; then
            echo "GCP_VM_HOST=${{ secrets.GCP_VM_HOST_MINSEOK }}" >> $GITHUB_ENV
            echo "GCP_VM_USERNAME=${{ secrets.GCP_VM_USERNAME_MINSEOK }}" >> $GITHUB_ENV
            echo "GCP_VM_SSHKEY=${{ secrets.GCP_VM_SSHKEY_MINSEOK }}" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME_MINSEOK }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD_MINSEOK }}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{ secrets.APPLICATION_SECRET_MINSEOK }}" >> $GITHUB_ENV
            echo "REACT_ENV=${{ secrets.REACT_ENV_MINSEOK }}" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == "refs/heads/deploy-Keun" ]; then
            echo "GCP_VM_HOST=${{ secrets.GCP_VM_HOST_KEUN }}" >> $GITHUB_ENV
            echo "GCP_VM_USERNAME=${{ secrets.GCP_VM_USERNAME_KEUN }}" >> $GITHUB_ENV
            echo "GCP_VM_SSHKEY=${{ secrets.GCP_VM_SSHKEY_KEUN }}" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME_KEUN }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD_KEUN }}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{ secrets.APPLICATION_SECRET_KEUN }}" >> $GITHUB_ENV
            echo "REACT_ENV=${{ secrets.REACT_ENV_KEUN }}" >> $GITHUB_ENV
          fi

      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          ref: ${{ github.ref }}

      - name: Install JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Springboot Build
        run: |
          cd Team_LJCO_back
          echo ${{ env.APPLICATION_SECRET }} | base64 --decode > ./src/main/resources/application-secret-prod.yml
          chmod 777 ./mvnw
          ./mvnw clean package -DskipTests

      - name: Springboot Docker image build
        run: |
          cd Team_LJCO_back
          docker build -t ${{ env.DOCKER_USERNAME }}/springboot-app:latest .

      - name: Springboot Docker image push
        run: |
          echo "${{ env.DOCKER_PASSWORD }}" | docker login -u ${{ env.DOCKER_USERNAME }} --password-stdin
          docker push ${{ env.DOCKER_USERNAME }}/springboot-app:latest

      - name: React Docker image build
        run: |
          cd Team_LJCO_front
          echo ${{ env.REACT_ENV }} | base64 --decode > .env.production
          docker build -t ${{ env.DOCKER_USERNAME }}/react-app:latest .

      - name: React Docker image push
        run: |
          docker push ${{ env.DOCKER_USERNAME }}/react-app:latest

      - name: GCP SSH REMOTE
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ env.GCP_VM_HOST }}
          username: ${{ env.GCP_VM_USERNAME }}
          key: ${{ env.GCP_VM_SSHKEY }}
          script: |
            cd /home/${{ env.GCP_VM_USERNAME }}
            sudo docker compose -f front-compose.yml pull
            sudo docker compose -f back-compose.yml pull
            sudo docker compose -f front-compose.yml down
            sudo docker compose -f front-compose.yml up -d
            sudo docker compose -f back-compose.yml down
            sudo docker compose -f back-compose.yml up -d
