<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.team_ljco.mapper.RecipeMapper">

    <resultMap id="RecipeListWithIngredientsMap"
               type="com.korit.team_ljco.dto.RecipeListResponse">
        <id property="rcpId" column="rcp_id"/>
        <result property="rcpName" column="rcp_name"/>
        <result property="rcpImgUrl" column="rcp_img_url"/>
        <result property="rcpViewCount" column="rcp_view_count"/>
        <result property="level" column="level"/>

        <collection property="ingredients" ofType="com.korit.team_ljco.entity.RecipeIngredient">
            <result property="ingId" column="ing_id"/>
            <result property="ingName" column="ing_name"/>
        </collection>
    </resultMap>

    <resultMap id="MatchRateMap" type="com.korit.team_ljco.dto.RecipeCountRow">
        <result property="ingName" column="ing_name"/>
    </resultMap>

    //유저아이디
    //레시피재료개수컬럼추가
    //유저레시피재료개수추가 - update set으로 설정해서 업데이트
    <select id="getRecipes" resultMap="RecipeListWithIngredientsMap">
        select
            r.rcp_id,
            r.rcp_name,
            r.rcp_img_url,
            r.rcp_view_count,
            r.level,
            i.ing_name,
        from
            rcp r
        left join rcp_ing ri on r.rcp_id = ri.rcp_id
        left join ingredients i on ri.ing_id = i.ing_id
        order by
            rcp_id desc
        limit #{pageSize} offset #{offset}
    </select>

    <select id="getMatchRate" resultMap="MatchRateMap">
        select
            count(rcp_ing.ing_id),
        (
        select
            count(ri.ing_id)
        from
            rcp_ing ri
        join
            user_ingredients ui
            on ui.ing_id = ri.ing_id
            and ui.user_id = #{userId}
        where
            ri.rcp_id = ui.ing_id
        )
        from
            rcp_ing
        where rcp_ing.rcp_id= #{rcp_id}
    </select>

</mapper>